html {
    overflow-y: scroll;
}

.top-bar {
    z-index: 1000;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* search bar styling */

.search-row th {
    vertical-align: top;
    min-width: 120px;
}

/* table styling */

.table {
    table-layout: fixed;
    width: 100%;              
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 0.3rem;     
}

.table th {
  vertical-align: middle; 
  text-align: center;     
}

.table th,
.table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    
    white-space: normal;     
    word-break: break-word;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    text-align: left;
}

.table tbody tr:not(.table-primary):hover > *  {
    background-color: #b9dfff4d;
}

.table th:not(.table-primary):hover > *  {
    background-color: #abd9ff50;
}

.table td input[type="checkbox"] {
    transform: scale(1.5);
    margin: auto;  
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.row-clickable {
    cursor: pointer;
}

.row-default {
    cursor: default;
}

.table-font {
    font-size: 0.9rem; 
}

/* modal styling */
.modal {
    background-color: rgba(0,0,0,0.5);
}